html {
    font-family: helvetica;
    background-color: #ffffff;
    
}
h1 {    
  font-size: 2.5em;
  color: #3a3a3a;
}

h2 {
    font-size: 1em;
    color: #353535;
}

p {
    font-size: 0,9em;
    color: #777777;
   
}

.interview {
    background-color: #f8f8f8;
}